<!--
© 2016 vivianhtlee
Revamp UI by 2018 GwenHo

-->
<!DOCTYPE html>
<html lang="en" ng-app="es-app" ng-controller="esCalculatorCtrl">
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible" />
            <meta content="width=device-width, initial-scale=1" name="viewport"/>
            <meta content="teamform, team" name="keywords"/>
            <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <title>
                偶像夢幻祭演唱會活動耗鑽計算器 2018
            </title>
            <!-- libraries and CSS    
        JQuery: Necessary for some bootstrap interactions (v3.2.1 is used)     
        Bootstrap: Library and CSS for bootstrap framework (v4.0.0 is used)   
        custom.css: A customized css for our web application. Not from any web framework. 
        mdb.min.css: Library and CSS for material design(v4.5.0 is used)
        fontawesome: icon Library that used in showReward to replace glyphicon (v5.1.0 is used)
      -->
            <script src="js/jquery-3.2.1.min.js">
            </script>
            <script src="js/bootstrap.min.js">
            </script>
            <link href="css/bootstrap.min.css" rel="stylesheet"/>
            <link href="css/mdb.min.css" rel="stylesheet" type="text/css"/>
            <link href="css/compiled.min.css" rel="stylesheet" type="text/css"/>
            <link href="css/custom.css" rel="stylesheet"/>
            <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" rel="stylesheet"/>
       
    </head>
    <!-- test -->
    <body>
        <!-- title  -->
        <div class="container my-5">
            <div class="card px-3 py-3">
                <div class="row justify-content-center my-4">
                    <div class="col-12 text-center">
                        <h1>
                            偶像夢幻祭
                        </h1>
                        <h2>
                            演唱會活動耗鑽計算器(台服、陸服適用)
                        </h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class=" col-md-8 col-xs-12 text-center">
                        <div class="alert alert-info" role="alert">
                            <strong>
                                提示：
                            </strong>
                            此活動耗鑽計算器是假設以最省鑽的打法刷演唱會。誤差詳情見
                            <a href="#error">
                                底部
                            </a>
                            。
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4 col-xs-12 text-center">
                        <div aria-label="設定" class="btn-group" role="group">
                            <button class="btn btn-default" ng-click="prepare()" ng-disabled="isPrepare()" type="button">
                                預算
                            </button>
                            <button class="btn btn-default" ng-click="simplify()" ng-disabled="isSimplify()" type="button">
                                簡化版
                            </button>
                            <button class="btn btn-default" ng-click="detail()" ng-disabled="isDetail()" type="button">
                                詳細
                            </button>
                        </div>
                    </div>
                </div>
                <form id="form-horizontal" name="form" ng-keyup="update()">
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7 col-xs-12">
                            <h4>
                                pt設定
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-3 col-xs-12">
                            <div class="md-form">
                                <input class="form-control" id="targetPt" name="targetPt" ng-change="targetPtToPt5()" ng-model="targetPt" type="number" value=""/>
                                <label for="targetPt">
                                    目標Pt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-12 text-center" style="margin-top: 25px;">
                            － 或 －
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class=" md-form">
                                <input class="form-control" id="numberOfPt5" name="numberOfPt5" ng-change="Pt5TotargerPt()" ng-model="numberOfPt5" type="number" value="0"/>
                                <label for="targetPt">
                                    積五卡數目
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isSimplify()">
                        <div class="col-md-6 col-xs-10">
                            <div class=" md-form">
                                <input class="form-control datepicker" id="deadlineDate" name="deadlineDate" ng-model="deadlineDate" placeholder="選擇日期" type="text"/>
                                <label for="deadlineDate">
                                    活動結束日
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2" style="margin-top: 25px;">
                            22:00
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isDetail()">
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control datepicker" id="deadlineDate" name="deadlineDate" ng-model="deadlineDate" placeholder="選擇日期" type="text"/>
                                <label for="deadlineDate">
                                    結束日期
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 offset-md-1">
                            <div class="md-form">
                                <input class="form-control timepicker" id="deadlineTime" ng-model="deadlineTime" placeholder="選擇時間" type="text" />
                                    <label for="deadlineTime">
                                        結束時間
                                    </label>
                                
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isSimplify()">
                        <div class="col-md-7">
                            <span ng-show="showDate()">
                                {{remainingTime-1000*60*60*24|date:'d日 H小時mm分鐘':'UTC'}}
                            </span>
                            <span ng-hide="showDate()||passdeadline()">
                                {{remainingTime-1000*60*60*24|date:'H小時mm分鐘':'UTC'}}
                            </span>
                            <span ng-show="passdeadline()">
                                <div class="alert alert-danger" role="alert">
                                    活動已結束。
                                </div>
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4" ng-show="isPrepare()">
                        <div class="col-md-7 col-xs-12">
                            <h4>
                                活動時長
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isPrepare()">
                        <div class="col-md-3 col-xs-12">
                            <div class="md-form">
                                <input class="form-control" id="days" name="days" ng-model="days" type="number"/>
                                <label for="days">
                                    日數
                                </label>
                            </div>
                        </div>
                        <div class="offset-md-1 col-md-3 col-xs-12">
                            <div class="md-form">
                                <input class="form-control" id="hours" name="hours" ng-model="hours" type="number"/>
                                <label for="hours">
                                    時數(小時）
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isDetail()">
                        <div class="col-md-7 col-xs-12">
                            <div class="md-form">
                                <input class="form-control" id="multiple" name="multiple" ng-model="multiple" type="number"/>
                                <label for="multiple">
                                    倍數加乘(%)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4" ng-show="isDetail()">
                        <div class="col-md-7 col-xs-12">
                            <h4>
                                擁有道具
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isDetail()">
                        <div class="col-md-2 col-xs-12">
                            <div class="md-form">
                                <input class="form-control" id="own_lactate" name="own_lactate" ng-model="own_lactate" type="number"/>
                                <label for="own_lactate">
                                    擁有乳酸/糖果的總數
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-12">
                            <div class="md-form">
                                <input class="form-control" id="own_drink" name="own_drink" ng-model="own_drink" type="number"/>
                                <label for="own_drink">
                                    擁有運動飲料/檸檬蜜餞的總數
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-12">
                            <div class="md-form">
                                <input class="form-control" id="own_bread" name="own_bread" ng-model="own_bread" type="number"/>
                                <label for="own_bread">
                                    擁有麵包/便當的總數
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7 col-xs-12">
                            <h4>
                                積分獎勵道具
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            {{get_lactate}} 瓶乳酸
                        </div>
                        <div class="col-md-3">
                            {{get_drink}} 瓶運動飲料
                        </div>
                        <div class="col-md-2">
                            {{get_bread}} 個面包
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isDetail()">
                        <div class="col-md-6 col-xs-10">
                            <div class="md-form">
                                <input class="form-control" id="maxPt" name="maxPt" ng-model="maxPt" type="number"/>
                                <label for="maxPt">
                                    循環一輪需Pt
                                </label>
                            </div>
                        </div>
                        <div class="col-md-1 col-xs-2">
                            <button class="btn-floating cyan" ng-click="showRewards=true" ng-hide="showRewards">
                                <i class="fas fa-chevron-down">
                                </i>
                            </button>
                            <button class="btn-floating cyan" ng-click="showRewards=false" ng-show="showRewards">
                                <i class="fas fa-chevron-up">
                                </i>
                            </button>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isDetail()">
                        <div class="col-md-7 col-xs-12">
                            <table class="table px-3 py-3" ng-show="showRewards">
                                <thead>
                                    <tr>
                                        <th>
                                            分數
                                        </th>
                                        <th>
                                            數量
                                        </th>
                                        <th>
                                            類別
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody ng-repeat="reward in rewards track by $index">
                                    <tr>
                                        <td>
                                            <input class="form-control" ng-model="reward.point" type="number"/>
                                        </td>
                                        <td>
                                            <input class="form-control" ng-model="reward.amount" type="number"/>
                                        </td>
                                        <td>
                                            <select class="mdb-select" ng-model="reward.type" ng-options="option for option in typeOfRewards">
                                            </select>
                                        </td>
                                        <td>
                                            <a ng-click="insertReward($index)">
                                                <i class="fas fa-plus">
                                                </i>
                                            </a>
                                            <a ng-click="removeReward($index)">
                                                <i class="fas fa-minus">
                                                </i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4" ng-show="isDetail()">
                        <div class="col-md-7 col-xs-12">
                            <h4>
                                現時帳戶狀況
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isDetail()">
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" id="current_lp" name="current_lp" ng-model="current_lp" type="number"/>
                                <label for="current_lp">
                                    現有LP
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" id="current_ap" name="current_ap" ng-model="current_ap" type="number"/>
                                <label for="current_ap">
                                    現有AP
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" id="current_exp" name="current_exp" ng-model="current_exp" type="number"/>
                                <label for="current_exp">
                                    現時EXP
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7 col-xs-12">
                            <h4>
                                現時卡組使用LP
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" id="large_lp" name="large_lp" ng-model="large_lp" step="0.25" type="number"/>
                                <label for="large_lp">
                                    前特大(6000pt/場)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="md-form">
                                <input class="form-control" id="larger_lp" name="larger_lp" ng-model="larger_lp" step="0.25" type="number"/>
                                <label for="larger_lp">
                                    後特大(9000pt/場)
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="md-form">
                                <input class="form-control" id="urgent_lp" name="urgent_lp" ng-model="urgent_lp" step="0.25" type="number"/>
                                <label for="urgent_lp">
                                    緊急場(15000pt/場)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            緊急出現率(特大:緊急):
                            <span ng-hide="isDetail()">
                                {{ratio_urgent}}
                            </span>
                            <span ng-show="isDetail()">
                                <input class="form-control" ng-model="ratio_urgent" step="0.5" type="number"/>
                            </span>
                        </div>
                    </div>
                    <div class="row justify-content-center" ng-show="isDetail()">
                        <div class="col-md-7">
                            <span ng-hide="isDetail()">
                                {{night|number:1}} 場緊急夜場
                            </span>
                            <div class="alert alert-info" ng-hide="isDetail()" ng-show="showNightWarning()" role="alert">
                                每天至少開{{night|number:1}}場免費緊急夜場。請合理分配刷演唱會的時間。
                            </div>
                            <div class="md-form" ng-show="isDetail()">
                                <input class="form-control" id="night" max="7" min="0" name="night" ng-model="night" type="number"/>
                                <label for="night">
                                    場緊急夜場(0~{{max_night|number:0}}之間)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7" ng-hide="isConcertLPFilled()">
                            <div class="alert alert-warning" role="alert">
                                不知道卡組數值? 可以使用
                                <a id="showCardsclick" ng-click="showCardsCalculator()">
                                    卡組數值計算器
                                </a>
                                。
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <h4>
                                爆擊設定
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            爆擊機率（％）:
                            <span ng-hide="isDetail()">
                                {{crit_rate|number:0}}
                            </span>
                            <input class="form-control" ng-model="crit_rate" ng-show="isDetail()" type="number"/>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            爆擊提升率（％）: 20
                        </div>
                    </div>
                    <div ng-show="isConcertLPFilled()">
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <h4>
                                    每LP收益
                                </h4>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-7">
                                <div ng-hide="isLargerBetter()">
                                    收益: {{PtperLP|number:1}} pt/lp
                                    <div class="alert alert-info" ng-show="isLargeNightBetter()" role="alert">
                                        <strong>
                                            前特大
                                        </strong>
                                        收益高於或等於後特大，只刷前特大。
                                    </div>
                                </div>
                                <div ng-show="isLargerBetter()">
                                    前半場收益: {{PtperLP|number:1}} pt/lp
                                
                                    後半場收益: {{PtperLP_larger|number:1}} pt/lp
                                    <div class="alert alert-info" ng-show="isLargeNightBetter()" role="alert">
                                        <strong>
                                            後特大
                                        </strong>
                                        收益高於前特大，而前特大+緊急夜場的收益高於後特大無夜場的收益，所以前半場刷出緊急夜場即停，以最大化收益。
                                    </div>
                                    <div class="alert alert-info" ng-hide="isLargeNightBetter()" role="alert">
                                        <strong>
                                            後特大
                                        </strong>
                                        收益高於前特大，前半場只清自動回覆AP，留道具刷後特大，以最大化收益。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7" ng-hide="isConcertLPFilled()">
                            <div class="alert alert-info">
                                請先填寫演唱會所需LP
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="form-group col-md-7">
                            <label>
                                需要演唱會
                            </label>
                            <div ng-hide="isLargerBetter()">
                                {{large_need|number:1}}場前特大 + {{urgent_need|number:1}}場緊急
                                <br/>
                                當中有 {{night_open|number:1}} 場緊急夜場
                            </div>
                            <div ng-show="isLargerBetter()">
                                {{large_need|number:1}}場前特大 + {{larger_need|number:1}}場後特大 + {{urgent_need|number:1}}場緊急
                                <br/>
                                當中有 {{night_open|number:1}} 場緊急夜場
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7">
                            <h4>
                                升級
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <input class="form-check-input" ng-model="cleanAP" type="checkbox"/>
                            清AP升級
                            <br/>
                            <div ng-show="cleanAP">
                                隨時間回復AP: {{AP_time|number:0}}
                                <br/>
                                <span ng-hide="isDetail()">
                                    吃下把全部{{get_bread + own_bread}}個面包
                                </span>
                                <span ng-show="isDetail()">
                                    能吃下
                                    <input ng-model="breadAte" type="number"/>
                                    個面包(共有{{get_bread + own_bread}}個)
                                </span>
                                <br/>
                                面包回復AP: {{AP_bread}}
                                <br/>
                                升{{levelUp|number:0}}級，得到{{levelUp*10|number:0}}lp
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7">
                            <h4>
                                演唱會升級
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <span ng-hide="isPrepare()">
                                <input class="form-check-input" ng-model="isFullLevel" type="checkbox"/>
                                滿級
                                <br/>
                            </span>
                            <span ng-hide="isFullLevel">
                                需要lp
                                <input class="form-control" ng-model="upgrade_consum_lp" type="number"/>
                            </span>
                            <div class="alert alert-info" id="upgrade-hint" ng-hide="isFullLevel" role="alert">
                                每多刷一個滿級特大，浪費15~20LP。
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7">
                            <h4>
                                LP總計
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class=" col-sm-7 form-check">
                            合共需要{{LP_consum|number:1}} LP
                            <br/>
                            道具回復{{LP_prop}} LP
                            <br/>
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7">
                            <h4>
                                LP回復
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <input class="form-check-input" id="notSleep" name="notSleep" ng-model="notSleep" type="checkbox"/>
                            <label class="form-check-label" for="notSleep">
                                夜間無縫
                            </label>
                            <br/>
                            <div ng-hide="notSleep">
                                每天睡覺
                                <span ng-hide="isDetail()">
                                    8
                                </span>
                                <input ng-model="sleepingHours" ng-show="isDetail()" step="0.5" type="number"/>
                                小時
                                <br/>
                            </div>
                            時間回復{{LP_time|number:1}} LP
                            <br/>
                            額外需要買 {{LP_need|number:1}} LP
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7">
                            <h4>
                                特價乳酸
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class=" col-md-7">
                            5折乳酸 {{buy_lactate_50}} 瓶
                            <br/>
                            8折乳酸 {{buy_lactate_80}} 瓶
                            <br/>
                            合共使用了 {{tot_diamond_lactate}} 鑽石買乳酸
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-md-7">
                            <h4>
                                直接購買LP
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            還欠 {{lp_buy_directly}} LP
                            <br/>
                            需要 {{tot_diamond_lp}} 鑽
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <label>
                                合計
                            </label>
                            需要使用 {{tot_diamond_lactate + tot_diamond_lp}} 鑽石
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-7 text-center">
                            <div class="form-group">
                                <button class="btn cyan " id="submit" ng-click="update()">
                                    更新
                                </button>
                                <button class="btn pink " id="default" ng-click="defaultSetting()">
                                    預設
                                </button>
                                <!--<button id="submit" class="btn btn-primary pull-right" ng-click="flatBrush()">平刷</button>
                <button id="submit" class="btn btn-primary pull-right" ng-click="flatBrush_()">乳酸平刷</button>-->
                            </div>
                        </div>
                    </div>
                </form>
                <!---------------------------------- card cal-------------------------------------------->
                <div id="showCards" ng-show="showCards">
                    <div class="row justify-content-center">
                        <div class="col-md-7 ">
                            <h4>
                                卡組數值計算器
                            </h4>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class=" col-md-3 px-2 py-2 red lighten-2">
                            Da值（紅卡）
                            <br/>
                            第一隊:
                            <input class="form-control" ng-change="countLP('Da')" ng-model="Da_team1" type="number"/>
                            <br/>
                            第二隊:
                            <input class="form-control" ng-change="countLP('Da')" ng-model="Da_team2" type="number"/>
                            <br/>
                            第三隊:
                            <input class="form-control" ng-change="countLP('Da')" ng-model="Da_team3" type="number"/>
                            <br/>
                            {{Da_lp_50W}}lp/前特大
                            <br/>
                            {{Da_lp_75W}}lp/後特大
                            <br/>
                            {{Da_lp_100W}}lp/緊急
                        </div>
                        <div class=" col-md-3 px-2 py-2 blue lighten-2">
                            Vo值（藍卡）
                            <br/>
                            第一隊:
                            <input class="form-control" ng-change="countLP('Vo')" ng-model="Vo_team1" type="number"/>
                            <br/>
                            第二隊:
                            <input class="form-control" ng-change="countLP('Vo')" ng-model="Vo_team2" type="number"/>
                            <br/>
                            第三隊:
                            <input class="form-control" ng-change="countLP('Vo')" ng-model="Vo_team3" type="number"/>
                            <br/>
                            {{Vo_lp_50W}}lp/前特大
                            <br/>
                            {{Vo_lp_75W}}lp/後特大
                            <br/>
                            {{Vo_lp_100W}}lp/緊急
                        </div>
                        <div class=" col-md-3 px-2 py-2 yellow accent-1">
                            Pf值（黃卡）
                            <br/>
                            第一隊:
                            <input class="form-control" ng-change="countLP('Pf')" ng-model="Pf_team1" type="number"/>
                            <br/>
                            第二隊:
                            <input class="form-control" ng-change="countLP('Pf')" ng-model="Pf_team2" type="number"/>
                            <br/>
                            第三隊:
                            <input class="form-control" ng-change="countLP('Pf')" ng-model="Pf_team3" type="number"/>
                            <br/>
                            {{Pf_lp_50W}}lp/前特大
                            <br/>
                            {{Pf_lp_75W}}lp/後特大
                            <br/>
                            {{Pf_lp_100W}}lp/緊急
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-md-4 text-center">
                            今期緊急及後特大:
                            <select class="mdb-select" ng-change="countLP('')" ng-model="currentUrgentColor" style="width:100%">
                                <option value="Da">
                                    Da
                                </option>
                                <option value="Vo">
                                    Vo
                                </option>
                                <!-- interpolation -->
                                <option value="Pf">
                                    Pf
                                </option>
                            </select>
                            <br/>
                                卡組: {{lp_50W}}-{{lp_75W}}-{{lp_100W}}
                                <br/>
                                    <button class="btn pink" ng-click="hideCardsCalculator()">
                                        關閉
                                    </button>
                                    <br/>
                        
                        </div>
                    </div>
                </div>
                <!------------------------------       error     ------------------------------------>
                <div class="row justify-content-center" id="error">
                    <div class="col-md-7">
                        <div class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    
                                        關於誤差
                                
                                </h4>
                            </div>
                            <div class="panel-collapse " >
                                <div class="panel-body">
                                    雖然已經盡量考慮各種情況，但由於部份稀有的情況處理起來太麻煩，仍存在以下誤差。
                                    <br/>
                                    <ol>
                                        <li>緊急夜場最大數目以前特大的數據計算。如果後特大收益高於前特大，緊急夜場數目大於實際所需。</li>
                                        <li>詳細版中，緊急夜場是截尾整數。</li>
                                        <li>假設活動第一天已經能緊急夜場。</li>
                                        <li>後特大收益高於前特大的情況下，只計算時間自動回覆的LP，忽略前半場升級帶來的LP。</li>
                                        <li>默認緊急收益不低於特大，夜場全給緊急。如果特大收益高於緊急，仍會浪費LP開全部緊急。</li>
                                        <li>不能選擇收益低的行動，如無限夜場、特大夜場、後特大收益高卻刷前特大。</li>
                                        <li>不計算課程特訓的pt。</li>
                                        <li>升級時LP浪費(e.g.剩餘10分鐘回復)不列入計算。</li>
                                    </ol>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="col-md-12 col-sm-12 white">
                    <p class="pull-right">
                        <a ng-click="scrollToTop()" style="cursor: pointer">
                            Back to top
                        </a>
                    </p>
                    <p>
                        © 2016
                        <i>
                            vivianhtlee
                        </i>
                    </p>
                    <p>
                        Revamp UI by 2018 
                        <i>
                            Gwen Ho
                        </i>
                    </p>
                    <p>
                        Powered by
                        <a href="https://mdbootstrap.com" target="_blank">
                            mdbootstrap
                        </a>
                        
                    </p>
                </footer>

<!-- /.container -->
<!-- Angular and Angular-route libraries (v1.5.7) -->
<!--script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script-->
<script src="lib/angular.min.js">
</script>
<script src="lib/angular-route.min.js">
</script>
<!-- JavaScript of this page -->
<script src="js/es.js">
</script>
<!-- Bootstrap core JavaScript -->
<script src="js/bootstrap.min.js" type="text/javascript">
</script>
<!-- MDB core JavaScript -->
<script src="js/mdb.min.js" type="text/javascript">
</script>
<script type="text/javascript">
    $('.datepicker').pickadate();
    // Time Picker Initialization
$('#deadlineTime').pickatime({});
$(document).ready(function() {
   $('.mdb-select').material_select();
 });

$('#showCardsclick').click(function(){
 $('html,body').animate({ scrollTop: 9999 }, '1000');
});
</script>
    </body>
</html>
