<!DOCTYPE html>
<html lang="en" ng-app="es-app" ng-controller="esCalculatorCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="teamform, team">
    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>偶像夢幻祭演唱會活動耗鑽計算器</title>

    <!-- libraries and CSS 	  
		JQuery: Necessary for some bootstrap interactions (v1.12.4 is used)		
		Bootstrap: Library and CSS for bootstrap framework (v3.3.7 is used)
		Font-awesome: More icons for the web development (v4.6.3 is used)		
		site.css: A customized css for our web application. Not from any web framework. 
	  -->

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/custom.css">


</head>
<!-- test -->

<body>
    <h1>偶像夢幻祭演唱會活動耗鑽計算器</h1>
    
    <p class="container col-md-12">
        <center>
            <div class="btn-group" role="group" aria-label="設定">
            <button type="button" class="btn btn-default" ng-click="prepare()" ng-disabled="isPrepare()">預算</button>
            <button type="button" class="btn btn-default" ng-click="simplify()" ng-disabled="isSimplify()">簡化版</button>
            <button type="button" class="btn btn-default" ng-click="detail()" ng-disabled="isDetail()">更多修改</button>
            </div>
        </center>
    </p>
    <div class="col-md-2 col-sm-0"></div>
    <div class="container col-md-8">
        <form ng-keyup="update()" id="form-horizontal" name="form">
            <div class="form-group col-sm-12">
                <label class="control-label col-sm-3">目標Pt</label>
                <div class="col-sm-9">
                    <input ng-model="targetPt" type="number" placeholder=725000>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">現有Pt</label>
                <div class="col-sm-9">
                    <input ng-model="currentPt" type="number" placeholder=0>
                </div>
            </div>
            <!--活動時長-->
            <div class="form-group col-sm-12" ng-hide="isPrepare()">
                <label class="col-sm-3 control-label">活動結束日</label>
                <div class="col-sm-9">
                    <span ng-show="isSimplify()">
                        <input class="form-control" style="width:50%" type="date" ng-model="deadlineDate"/>
                        22:00
                    </span>
                    <span ng-show="isDetail()">
                        <input class="form-control" type="datetime" ng-model="deadlineTime"/>
                    </span>
                </div>
                <label class="col-sm-3 control-label">剩餘時間</label>
                <div class="col-sm-9">
                    {{remainingTime-1000*60*60*24|date:'d日 H小時mm分鐘':'UTC'}}
                    <!--0 = 1/1/1970-->
                </div>
            </div>     
            <div class="form-group col-sm-12" ng-show="isPrepare()">
                <label class="col-sm-3 control-label">活動時長</label>
                <div class="col-sm-9">
                    <input style="width:25%" type="number" ng-model="days"/>日
                    <input style="width:25%" type="number" ng-model="hours"/>小時
                </div>
            </div>     
            <div class="form-group col-sm-12" ng-show="isDetail()">
                <label class="col-sm-3 control-label">積分倍數</label>
                <div class="col-sm-9">
                    <input type="number" ng-model="multiple"/><br>倍卡加乘(點數形式e.g.1.08)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">擁有道具</label>
                <div class="col-sm-9">
                    <input type="number" ng-model="own_lactate" placeholder="擁有的乳酸數目"/> 瓶乳酸<br>
                    <input type="number" ng-model="own_drink" placeholder="擁有的運動飲料數目"/> 瓶運動飲料<br>
                    <input type="number" ng-model="own_bread" placeholder="擁有的面包數目"/> 個面包<br>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">積分獎勵道具</label>
                <div class="col-sm-9">
                    {{get_lactate}} 瓶乳酸<br>
                    {{get_drink}} 瓶運動飲料<br>
                    {{get_bread}} 個面包<br>
                    <div ng-show="isDetail()">
                    循環一輪需: <input type="number" ng-model="maxPt"/>Pt
                    <button ng-click="showRewards=true" ng-hide="showRewards"><span class="glyphicon glyphicon-collapse-down"></span></button>
                    <button ng-click="showRewards=false" ng-show="showRewards"><span class="glyphicon glyphicon-collapse-up"></span></button>

                    <table class="table-responsive" style="background-color: lightblue" ng-show="showRewards">
                        <thead>
                            <tr>
                            <th style="width:30%">分數</th>
                            <th style="width:15%">數量</th>
                            <th style="width:35%">類別</th>
                            <th></th>
                            </tr>
                        </thead>
                        <tbody ng-repeat="reward in rewards track by $index">
                        <tr>
                            <td><input ng-model="reward.point" type="number" style="width:100%"/></td>
                            <td><input ng-model="reward.amount" type="number" style="width:100%"/></td>
                            <td><select name="singleSelect" ng-model="reward.type" ng-options="option for option in typeOfRewards" style="width:100%">
                            </select></td>
                            <td>
                                <button ng-click="insertReward($index)"><span class="glyphicon glyphicon-plus"></span></button>
                                <button ng-click="removeReward($index)"><span class="glyphicon glyphicon-minus"></span></button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                </div>
            </div>
            <div class="form-group col-sm-12" ng-show="isDetail()">
                <label class="col-sm-3 control-label">現有</label>
                <div class="col-sm-9">
                    <input type="number" ng-model="current_lp" placeholder="現時的lp"/>lp<br>
                    <input type="number" ng-model="current_ap" placeholder="現時的ap"/>ap<br>
                    <input type="number" ng-model="current_exp" placeholder="現時的exp"/>exp<br>
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">緊急</label>
                <div class="col-sm-9">
                    15000pt/場<br>
                    <input type="number" ng-model="urgent_lp">lp/場<br>
                    緊急出率(特大:緊急):
                    <span ng-hide="isDetail()">{{ratio_urgent}}</span>
                    <span ng-show="isDetail()"><input type="number" ng-model="ratio_urgent" style="width:50px"/></span>
                    <br>
                    每天<input type="number" ng-model="night" min=0 max=6 style="max-width: 50px">場緊急夜場(0~{{max_night|number:0}}之間)
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">前特大</label>
                <div class="col-sm-9">
                    6000pt/場<br>
                    <input type="number" ng-model="large_lp">lp/場
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">後特大</label>
                <div class="col-sm-9">
                    9000pt/場<br>
                    <input type="number" ng-model="larger_lp">lp/場
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">需要演唱會</label>
                <div class="col-sm-9">
                    {{large_need|number:1}} 場前特大 +   
                    {{urgent_need|number:1}} 場緊急
                    <br>****未加入後特大的情況
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">爆擊</label>
                <div class="col-sm-9">
                    爆擊機率: <span ng-hide="isDetail()">{{crit_rate*100|number:-0}}%</span>
                    <input ng-show="isDetail()" type="number" ng-model="crit_rate" step="0.01"/>
                    <br>
                    爆擊提升率: 20%
                </div>
            </div>
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">收益</label>
                <div class="col-sm-9">
                    每LP收益: {{PtperLP|number:1}} pt/lp
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">升級</label>
                <div class="col-sm-9">
                    <input class="form-check-input" type="checkbox" ng-model="cleanAP">清AP升級<br>
                    <div ng-show="cleanAP">
                        隨時間回復AP: {{AP_time|number:0}}<br>
                        <span ng-hide="isDetail()">吃下把全部{{get_bread + own_bread}}個面包</span>
                        <span ng-show="isDetail()">能吃下<input ng-model="breadAte" type="number"/>個面包(共有{{get_bread + own_bread}}個)</span>
                        <br>
                        面包回復AP: {{AP_bread}}<br>
                        升{{levelUp|number:0}}級，得到{{levelUp*10|number:0}}lp<br>
                    </div>
                </div>
            </div>
            
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">演唱會升級</label>
                <div class="col-sm-9">
                    <input class="form-check-input" type="checkbox" ng-model="isFullLevel">滿級<br>
                    <span ng-hide="isFullLevel">需要<input type="number" ng-model="upgrade_consum_lp">lp</span>
                </div>
            </div>

            
            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">LP</label>
                <div class="col-sm-9">
                    合共需要{{LP_consum|number:1}} LP<br>
                    道具回復{{LP_prop}} LP<br>
                    <input class="form-check-input" type="checkbox" ng-model="sleep">每天睡覺
                    <span ng-hide="isDetail()">8</span>
                    <input type="number" ng-model="sleepingHours">
                    小時<br>
                    時間回復{{LP_time}} LP<br>
                    額外需要買{{LP_need|number:1}} LP
                </div>
            </div>

            <div class="form-group col-sm-12">
                <label class="col-sm-3 control-label">購買LP</label>
                <div class="col-sm-9">
                </div>
            </div>







            <div class="form-group">
                <button id="submit" class="btn btn-primary pull-right" ng-click="update()">更新</button>
                <button id="default" class="btn btn-primary pull-right" ng-click="defaultSetting()">預設</button>
                <!--<button id="submit" class="btn btn-primary pull-right" ng-click="flatBrush()">平刷</button>
                <button id="submit" class="btn btn-primary pull-right" ng-click="flatBrush_()">乳酸平刷</button>-->
            </div>
        </form>
    </div>



<!-- FOOTER -->
<hr>
<footer class="col-md-12 col-sm-12">
    <p class="pull-right">
        <a style="cursor: pointer" ng-click="scrollToTop()">Back to top</a>
    </p>
    <p>&copy; 2016 &nbsp;<i>vivianhtlee</i></p>
    <p>Powered by <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> and <a href="http://glyphicons.com/" target="_blank">Glyphicons</a></p>
</footer>
</div>
<!-- /.container -->

<!-- Angular and Angular-route libraries (v1.5.7) -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
<script src="lib/angular-route.min.js"></script>

<!-- JavaScript of this page -->
<script src="js/es.js"></script>

</body>

</html>